<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LoginLogout</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.LoginLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginLogout</servlet-name>
		<url-pattern>/loginlogout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetBlobs</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.GetBlobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBlobs</servlet-name>
		<url-pattern>/getblobs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUserBlobs</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.GetUserBlobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserBlobs</servlet-name>
		<url-pattern>/getuserblobs</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>GetUserBlobs</web-resource-name>
            <url-pattern>/getuserblobs</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
   	<servlet>
		<servlet-name>UpdateVisibility</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.UpdateVisibility</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateVisibility</servlet-name>
		<url-pattern>/updatevisibility</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>UpdateVisibility</web-resource-name>
            <url-pattern>/updatevisibility</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet>
		<servlet-name>DeleteBlob</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.DeleteBlob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBlob</servlet-name>
		<url-pattern>/deleteblob</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>DeleteBlob</web-resource-name>
            <url-pattern>/deleteblob</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet>
		<servlet-name>GetAdminBlobs</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.GetAdminBlobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAdminBlobs</servlet-name>
		<url-pattern>/getadminblobs</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>GetAdminBlobs</web-resource-name>
            <url-pattern>/getadminblobs</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>ie.dit.britton.darren.servlet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>UploadPage</web-resource-name>
            <url-pattern>/upload.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminHelp</web-resource-name>
            <url-pattern>/adminHelp.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
   	<security-constraint>
        <web-resource-collection>
            <web-resource-name>UserHelp</web-resource-name>
            <url-pattern>/userHelp.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
	<welcome-file-list>
		<welcome-file>getblobs</welcome-file>
	</welcome-file-list>
</web-app>
